
body {
 background-image: url("core_images/home.jpg");
 background-color: #cccccc;
 background-position: 10% 10%;
  background-size: cover;
  height: 10px;
 width: 500px;
 }

.search {
    right: 100px;
    bottom: 10px;
    padding: 10px;
}